@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&display=swap');
*
{
    margin:0;
    padding:0;
    font-family: 'Georama', sans-serif;
    box-sizing:border-box;
    text-transform: capitalize;
}
html
{
    font-size:15px;
    scroll-behavior: smooth;
}

section
{
    min-height: 100vh;
    padding:1rem 10%;
    padding-top:8rem;
}
header 
{
    z-index: 5;
    position: fixed;
    width:100%;
    background:white;
    padding:1rem;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
header .logo img 
{
    height:6rem;
}
header .navigate ul 
{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
    background:white;
}
header .navigate ul li 
{
    margin-left:3rem;
}
header .navigate ul li a 
{
    font-size: 1.2rem;
    color:#773d12;
    text-decoration:none;
    font-weight: 500;
}
header .navigate ul li a.active,
header .navigate ul li a:hover 
{
    color:black ;
}
header #menu 
{
    font-size: 2rem;
    color:rgb(167, 121, 36);
    display: none;
}

@media(max-width:476px)
{
    header #menu 
    {
    display:block;
    }
    header .navigate 
    {
        right: 5%;
        position:fixed;
        top:8rem;
        left: 0;
        width: 100%;
        background:aliceblue;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    header .navigate ul 
    {
        flex-flow: column;
        padding: 1rem;
    }
    header .navigate ul li 
    {
        margin:1rem;
        width: 100%;
    }
    header .navigate ul li a 
    {
        display: block;
        color: #000;
        padding-left: 2rem;
        border-right: .1rem solid #000;
        font-size: 1rem;
    }
    header .navigate ul li a:hover,
    header .navigate ul li a.active 
    {
        color:rgb(167, 121, 36);
        border-color:rgb(167, 121, 36);
    }
    header .navigate.nav-toggle
    {
        transform: scaleY(1);
        opacity: 1;
    }
    .fa-times
    {
        transition:.5s ease;
        transform:rotate(180eg);
    }
}
/*----------------section-------------*/
.home 
{
    background:linear-gradient(rgba(241, 155, 155, 0.5),rgba(0, 0, 0, 0.5)),url("../UTS/latar.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: left;
}
.home h1 
{
    padding-top:20%;
    font-size:4rem;
    text-shadow: 2px 2px #773d12;
    letter-spacing: 1px;
}
.home p 
{
    font-size:1.5rem;
    line-height:2rem;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s; 
}

@keyframes animate 
{
    0%
    {
        transform:translateX(-5px);
    }
    100% 
    {
        transform: translateX(5px);
    }
}
@media(max-width:768px)
{
    .home h1 
    {
        font-size: 3rem;
        padding-top: 50%;
    }
    .home p 
    {
        font-size:1.2rem;
    }   
}
/*-----------------------about us-----------*/
.about
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.about .about-content
{
    width:100%;
    height: auto;
    padding:2rem 2rem;
    box-shadow: 1rem 1rem rgb(167, 121, 36); /*--shadow--*/
    text-align: center;
    background:#773d12;
    border-radius: 50px;
}
.about-content h2 
{
    font-size:2.5rem;
    color:#fff;
    padding:1rem ;
    letter-spacing:2rem;
    text-shadow: .2rem .5rem rgb(167, 121, 36);
}
.about-content p 
{
    font-size:1rem;
    font-weight:1000;
    line-height: 1.5rem;
    color:#fff;
}
.image img 
{
    width:100%;
    height: auto;
    
}

.btn 
{
    margin:10px ;
    width:10rem;
    padding:.8rem;
    border-radius: 10px;
    border: none;
    background:rgb(167, 121, 36);
    color:#fff;
    font-size: 1rem;
    font-weight:600;
    letter-spacing: .1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
}


@media(max-width:768px)
{
    .about
    {
    display: block;
    justify-content: space-between;
    align-items:center;
    text-align: justify ;
    }
}
/*----------------------Product---------------*/
.title
{
    text-align:center;
    font-size:3rem;
    color:rgb(167, 121, 36);
}
.title span
{
    color: black;
}
.bakery-product .inner-bakery-row
{
   display: flex;
   align-items: center;
   justify-content:center;
   flex-wrap: wrap; 
}
.bakery-product .inner-bakery-col
{
    max-width: 1200px;
    background:#fff ;
    flex:20rem;
    padding:1.2rem;
    margin:1.5rem;
    border-radius:1rem;
    box-shadow:0 1rem 1.9rem rgb(167 121 36);  
    text-align: center;
}

.bakery-product .inner-bakery-col img 
{
    height: 15rem;
    width:100%;
    object-fit: cover;
}
.bakery-product .inner-bakery-col p
{
  position:absolute;     
  width: 2.7rem;
  height: auto;
  margin-top:-1.2rem;
  margin-left: 8rem;
  padding:.8rem .1rem;
  text-align: center;
  font-size: 1.2rem;
}

.bakery-product .inner-bakery-col h2
{
    padding: .5rem 0;
    color:rgb(167, 121, 36);
    font-size:1.6rem;
    letter-spacing:.1rem;
}

.video {
    justify-content: center;
    display: flex;
}
@media(max-width:476px)
{
    .video video {
        width: 300px;
        height: auto;
    }
    .title
    {
        text-align:center;
        font-size:2rem;
    }
}

/*---------------------contact us---------*/
.bakery-contact
{
    width:100%;
    background:whitesmoke;
}
.bakery-contact-row
{   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.bakery-contact-col 
{
    margin:2rem;
    flex: 1 1 20rem;
    text-align:center;
}
.bakery-contact-col .images 
{
    border:1px solid #fff;
    box-shadow:0 1rem 10rem rgb(167 121 36);  
    height: 30rem;
    width: 20rem;
}
.bakery-contact-col img
{
    width:90%;
    height:auto;
    padding:1rem;
    border:1px solid transparent;
    border-radius: 1rem;   
}
.bakery-contact-col h1 
{
    padding:1rem;
    color:rgb(167, 121, 36);
    letter-spacing: 1rem;
}
.bakery-contact-col .social i
{
    padding:0.5rem;
    border-radius: 1rem;
    background:rgb(167, 121, 36);
    color:#fff;
    font-size: 2rem;
}
.bakery-contact-col .social i:hover 
{
    background: black;
    color:#fff;
}

.bakery-contact-col input, .bakery-contact-col textarea 
{
    width: 80%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    background-color: #f8f8f8;
    font-size: 16px;
}
.bakery-contact-col textarea
{
    resize: none;
}

